.svg {
  width: 100%;
  height: 100%;
}

g#wordCloudShow {
  width: 100%;
  height: 100%;
}

g.svg-pie {
  position: relative;
  left: 50%;
  top: 30%;
}

.threed{
  color: #fafafa;
  letter-spacing: 0;
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135 
}
.sidebtn {
  position: absolute;
  left: 5%;
  top: 5%;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0 5px rgb(97, 95, 95);
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#btn {
  position: absolute;
  left: 40%;
  bottom: 30%;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  border: none;
  outline: none;
  box-shadow: 0 5px #bbb;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#btn:active {
  transform: translateY(4px);
}

/* html {
  background: url(back.jpg) bottom center no-repeat #efeff4 ;
  background-size: 100% 100%;
} */


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: orange ;
}
.d3-tip {
  line-height: 1.5;
  font-weight: bold;
  font-size: 15px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 1px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\▼";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

/*侧边栏选择器*/
.sidenav {
  height: 100%;
  width: 0; /*原始宽度*/
  position: fixed;
  /*z-index、top、left共同控制侧栏的悬浮（上方1，下方-1）*/
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s; /*侧栏延迟0.5s显示*/
  padding-top: 60px;
}

/*侧边栏标签选择器*/
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; /*标签延迟0.3s显示*/
}

/*侧栏标签和关闭按钮光标的效果*/
.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

/*侧栏和关闭按钮的位置选择器*/
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*主体内容*/
#main {
  background: url(back.jpg) bottom center no-repeat #efeff4 ;
  background-size: 100% 100%;
  transition: margin-left .5s;/*主体内容延迟0.5s整体y右移动*/
  padding: 10px;
}

/*当文档高度小于450px时，改变侧栏的padding属性和字体大小*/
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

/* 底部信息栏 */

p{
	margin:0;
	padding:0;
	list-style:none;
	border:0;
}
.footer{
	width:100%;
	height:150px;
	text-align:center;
	line-height:30px;
	font-size:12px;
}
.footer span{
	margin:0 5px;
}
.footer .bottom{
	color:#666666;
}
.footer .bottom a{
	text-decoration:none;
}

/* 底部搜索栏 */
.search-box{
  position: absolute;
  top:5%;
  right:20%;
  transform: translate(50%,50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover>.search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover>.search-btn{
 background: white;
}
.search-btn{
  color: #e84118;
  float:right ;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

textarea{
  position: absolute;
  top:20%;
  right:10%;
  display: none;
  /* background: transparent; */
  background-color: cyan;
  border-bottom: #b7b7b7 1px solid;
  border-left: #b7b7b7 1px solid;
  border-right: #b7b7b7 1px solid;
  border-top: #b7b7b7 1px solid;
  color: #000000;
  cursor: text;
  font-family: "arial";
  font-size: 12pt;
  padding: 1px; /*www.52css.com*/
}

/* for word cloud */
.click-only-text {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.click-only-text::selection {
  background: none;
}

.word-default {
  fill: cadetblue;
  font-weight: normal;
}
.word-hovered {
  fill: teal;
  font-weight: bold;
}
.word-selected {
  fill: darkslategrey;
  font-weight: bold;
}
